:root {
    --yellow: #e2eb63;
    --light-green: #57bc90;
    --dark-green: #015249;
    --blue: #77c9d4;
    --grey: #a5a5af;
    --gradient: linear-gradient(var(--blue), var(--yellow));
}


.hide {
    display: none;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 1000;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    padding-top: 0.7rem;
    padding-right: 0.2rem;
    padding-bottom: 0.7rem;
    margin-right: 0px;
    box-shadow: 0px 0.4px 5px grey;
    height: 7%;
}

.logo {
    background-image: url("./../imgs/cls.jpg");
    background-size: cover;
    border-radius: 50%;
    width: 80px;
    height: 70px;
    display: none;
}

.nav {
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    list-style: none;
    font-size: 1rem;
    position: fixed;
    right: -100%;
    z-index: 100;
    background-color: black;
    opacity: 0.9;
    transition: right 0.8s ease-in-out;
}

.nav__btn {
    position: fixed;
    top: 0.7rem;
    right: 1rem;
}

.nav .nav__btn div {
    width: 2rem;
    height: 0.2rem;
    margin-bottom: 0.2rem;
    background-color: black;
    margin:  0.3rem 0;

}
#navbtn{
    margin: 0.5rem 0.5rem;
}

.nav__list{
    margin-top: 3rem;
    width: 70%;
    padding-bottom: 0.5rem;
    padding-left: 0;
    height: 100%;
}
.list_item{

}

.nav__list .list-item {
    padding: 0.7rem 0.5rem;
    text-align: left;
}

.list-item>a{
    padding-left: 2.5rem;
}
li.list-item:first-child{
    border: none;
    margin-top: 2.5rem;

}

.nav__list .list-item a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    text-align: center;

}

.nav__list .list-item:hover {
    background-color: var(--blue);
}

.nav__list .list-item:hover a {
    color: white;
}


/* for desktop view */

@media only screen and (min-width:480px) and (max-width:1029px) {
    .nav .nav__list {
        font-size:1.5rem;
    }
    .nav__list .list-item{
        padding: 1.2rem 0.5rem;
    }
}

@media only screen and (min-width:1030px) {
    .header {
        padding: 1rem 1.2rem 0rem;
        height: 4.2rem;
    }
    .logo {
        display: block;
        /*LOGO's VISIBILITY IS HIDDEN TO AVOID WIDTH ERROR*/
        visibility: hidden;
    }
    .nav {
        margin-left: 30%;
    }
    .nav .nav__list {
        margin-top: 0;
        display: flex;
        position: fixed;
        right: 10%;
        top: 1.5%;
        z-index: 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        background-color: transparent;
        width: fit-content;
    }
    .nav__list{
        opacity: 1;
        height: auto;
    }
    .nav__list .list-item a{
        color: var(--dark-green);
    }
    .nav__btn {
        display: none;
    }
    .nav__list .list-item {
        width: fit-content;
        padding: 1.2rem 0rem;
    }
    .list-item {
        display: inline-block;  

    }
    .list-item>a{
    padding: 0.8rem 1.2rem;
    margin: 0;
    }
    li.list-item:first-child{
    margin-top: 0;

    }

}
