:root {
    --yellow: #e2eb63;
    --light-green: #57bc90;
    --dark-green: #015249;
    --blue: #77c9d4;
    --grey: #a5a5af;
    --gradient: linear-gradient(var(--blue), var(--yellow));
}

.mt-2 {
    margin-top: 2rem;
}

.hide {
    display: none;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    padding-top: 0.6rem;
    padding-right: 0.2rem;
    padding-bottom: 2rem;
    margin-right: 0px;
    box-shadow: 0px 0.4px 5px grey;
    height: 7%;
}

.logo {
    background-image: url("./../imgs/cls.jpg");
    background-size: cover;
    border-radius: 50%;
    width: 80px;
    height: 70px;
    display: none;
}

.nav {
    padding-right: 1rem;
}

.nav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    list-style: none;
    font-size: 1rem;
    position: fixed;
    right: -30%;
    z-index: 100;
    background-color: white;
    transition: right 0.3s ease-in-out;
}

.nav__btn {
    position: fixed;
    top: 0.7rem;
    right: 1rem;
}

.nav .nav__btn div {
    width: 1.5rem;
    height: 0.2rem;
    margin-bottom: 0.2rem;
    background-color: black;
}

.nav__list .list-item {
    width: fit-content;
    padding: 0.7rem 0.5rem;
    text-align: right;
}

.nav__list .list-item a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--dark-green);
}

.nav__list .list-item:hover {
    background-color: var(--blue);
}

.nav__list .list-item:hover a {
    color: white;
}


/* for desktop view */

@media only screen and (min-width:420px) and (max-width:700px) {
    .nav {
        margin-left: 75%;
    }
    .nav .nav__list {
        display: unset;
        position: unset;
        right: 0%;
    }
}

@media only screen and (min-width:1030px) {
    .header {
        padding: 1rem 1.2rem 0rem;
    }
    .logo {
        display: block;
    }
    .nav {
        margin-left: 30%;
    }
    .mt-2 {
        margin: 0;
    }
    .nav .nav__list {
        margin-top: 0;
        display: flex;
        position: unset;
        right: 0%;
        z-index: 0;
        padding-left: 0.2rem;
    }
    .nav__btn {
        display: none;
    }
    .nav__list .list-item {
        width: fit-content;
        padding: 1.2rem 0.5rem;
    }
    .list-item {
        display: inline-block;
    }
}